<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744404179668-003v9go7i7fcl1dohm399te3cq7rjk4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744404179668-003v9go7i7fcl1dohm399te3cq7rjk4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBA6IHzo7IYo4Zqj35teeROKJqghxtAvT0</string>
	<key>GCM_SENDER_ID</key>
	<string>744404179668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abkk.dev.past-nyc</string>
	<key>PROJECT_ID</key>
	<string>past-nyc</string>
	<key>STORAGE_BUCKET</key>
	<string>past-nyc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744404179668:ios:0ed9a8f9d1e9bf34233941</string>
</dict>
</plist>